* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-container {
    height: 60vh;
}

.pelicula-poster{
    height: 100%;
}

.image-pelicula-container{
    max-height: 40vh;
}

.mt-20{
    margin-top: 20%;
}

.marvel{
    background-image: url(../img/comicjpg.jpg);
}

.banner-img{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../img/marvel-banner.jpeg); 
}




/*body*/
body {

    background-color: black;
}


.main-container{
    margin-top: 100px;

}




